    <div class="mx-5 mt-3">
        <nav class="navbar navbar-expand-custom d-flex flex-wrap align-items-center justify-content-center justify-content-between py-3 mb-4">
            <button class="navbar-toggler collapsed border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="text-light fa-solid fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="flex-column flex-custom-row nav col-12 col-custom-auto mb-2 mb-custom-0">
                    {% for key in navigationRoutes|keys %}
                        <li class="nav-item">
                            <a href="{{ path(key) }}" class="nav-link px-0 mx-2 text-center {% if app.request.attributes.get('_route') == key %} selected {% endif %}"><span>{{ navigationRoutes[key] }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="ms-custom-auto">
                    <a type="button" class="mx-auto contact-button" href="mailto:matthieu.darmigny@gmail.com"><span>Contact</span></a>
                </div>
            </div>
        </nav>
    </div>