{% extends 'base.html.twig' %}

{% block content %}
    <div class="frame-box" id="frame-box-1">
        <div class="w-100 h-100 d-flex flex-row">
            <div class="h-100 d-flex flex-column">
                <div class="my-auto">
                    <span class="text-center frame-number">01</span>
                </div>
            </div>
            <div class="info-section w-100">
                <div class="text-pane">
                    <div class="d-flex flex-column h-100 text-content mx-auto">
                        <span class="text-year">2018-2019</span>
                        <span class="text-thing">Seconde générale</span>
                        <span class="text-detail">Lycée François Mitterand (Moissac)</span>
                    </div>
                </div>
                <div class="info-pane">
                    <div class="d-flex flex-column h-100 info-content mx-auto">
                        <div class="info-image">

                        </div>
                        <div class="info-text" id="info-text-1">
                            <p class="info-title">Une année riche d'enseignements.</p>
                            <p class="info-details">Mes débuts en seconde générale m'ont permis de développer un esprit d'analyse et de synthèse renforcé par la pratique de matières telles que les SES et l'histoire géopolitique, où j'ai appris à argumenter avec des preuves concrètes. J'ai également amélioré mon raisonnement logique grâce à ma pratique des matières scientifiques telles que les mathématiques, la SVT et la physique.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-box" id="frame-box-2">
        <div class="w-100 h-100 d-flex flex-row">
            <div class="h-100 d-flex flex-column">
                <div class="my-auto">
                    <span class="text-center frame-number">02</span>
                </div>
            </div>
            <div class="info-section w-100">
                <div class="text-pane">
                    <div class="d-flex flex-column h-100 text-content mx-auto">
                        <span class="text-year">2019-2020</span>
                        <span class="text-thing">Première générale</span>
                        <span class="text-detail">Lycée François Mitterand (Moissac)</span>
                    </div>
                </div>
                <div class="info-pane">
                    <div class="d-flex flex-column h-100 info-content mx-auto">
                        <div class="info-image">

                        </div>
                        <div class="info-text" id="info-text-2">
                            <p class="info-title">Une année riche d'enseignements.</p>
                            <p class="info-details">Mes débuts en seconde générale m'ont permis de développer un esprit d'analyse et de synthèse renforcé par la pratique de matières telles que les SES et l'histoire géopolitique, où j'ai appris à argumenter avec des preuves concrètes. J'ai également amélioré mon raisonnement logique grâce à ma pratique des matières scientifiques telles que les mathématiques, la SVT et la physique.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-box" id="frame-box-3">
        <div class="w-100 h-100 d-flex flex-row">
            <div class="h-100 d-flex flex-column">
                <div class="my-auto">
                    <span class="text-center frame-number">03</span>
                </div>
            </div>
            <div class="info-section w-100">
                <div class="text-pane">
                    <div class="d-flex flex-column h-100 text-content mx-auto">
                        <span class="text-year">2020-2021</span>
                        <span class="text-thing">Terminale générale</span>
                        <span class="text-detail">Lycée François Mitterand (Moissac)</span>
                    </div>
                </div>
                <div class="info-pane">
                    <div class="d-flex flex-column h-100 info-content mx-auto">
                        <div class="info-image">

                        </div>
                        <div class="info-text" id="info-text-3">
                            <p class="info-title">Une année riche d'enseignements.</p>
                            <p class="info-details">Mes débuts en seconde générale m'ont permis de développer un esprit d'analyse et de synthèse renforcé par la pratique de matières telles que les SES et l'histoire géopolitique, où j'ai appris à argumenter avec des preuves concrètes. J'ai également amélioré mon raisonnement logique grâce à ma pratique des matières scientifiques telles que les mathématiques, la SVT et la physique.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame-box" id="frame-box-4">
        <div class="w-100 h-100 d-flex flex-row">
            <div class="h-100 d-flex flex-column">
                <div class="my-auto">
                    <span class="text-center frame-number">04</span>
                </div>
            </div>
            <div class="info-section w-100">
                <div class="text-pane">
                    <div class="d-flex flex-column h-100 text-content mx-auto">
                        <span class="text-year">2021-2022</span>
                        <span class="text-thing">Première année</span>
                        <span class="text-detail">IUT Paul Sabatier (Castres)</span>
                    </div>
                </div>
                <div class="info-pane">
                    <div class="d-flex flex-column h-100 info-content mx-auto">
                        <div class="info-image">

                        </div>
                        <div class="info-text" id="info-text-4">
                            <p class="info-title">Une année riche d'enseignements.</p>
                            <p class="info-details">Mes débuts en seconde générale m'ont permis de développer un esprit d'analyse et de synthèse renforcé par la pratique de matières telles que les SES et l'histoire géopolitique, où j'ai appris à argumenter avec des preuves concrètes. J'ai également amélioré mon raisonnement logique grâce à ma pratique des matières scientifiques telles que les mathématiques, la SVT et la physique.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}