{% extends 'base.html.twig' %}

{% set footer = true %}

{% block content %}
    <div id="frame-container" class="skills">
        <div id="frame-1" class="frame" data-frame-id="1">
            <div class="frame-indicator px-3 py-3">
                <span class="indicator my-auto">01</span>
            </div>

            <div class="d-flex flex-column frame-content w-100">
                <div class="mx-auto my-auto text-center py-5 px-5">
                    <h1 class="skill-title">Grande capacité de réflexion et de compréhension</h1>
                    <span class="skill-desc">J'ai développé une grande capacité d'analyse et de synthèse au cours de ma formation, que ce soit dans les matières scientifiques ou en sciences humaines. Par exemple, lors de ma première année de seconde générale, j'ai appris à argumenter avec des preuves concrètes en SES et en histoire-géopolitique. En première générale, j'ai choisi les mathématiques pour améliorer mon raisonnement logique et les SES et la géopolitique pour cultiver ma curiosité du monde. Cette année, j'ai choisi la filière Business et Management de la Relation Client pour m'améliorer en communication et en gestion.</span>
                </div>
            </div>
        </div>

        <div id="frame-2" class="frame" data-frame-id="2">
            <div class="frame-indicator px-3 py-3">
                <span class="indicator my-auto">02</span>
            </div>

            <div class="d-flex flex-column frame-content w-100">
                <div class="mx-auto my-auto text-center py-5 px-5">
                    <h1 class="skill-title">Passionné et créatif dans l'accomplissement de mes objectifs</h1>
                    <span class="skill-desc">Mon parcours est marqué par de nombreux projets personnels et professionnels, que ce soit la mini-entreprise BIPSOUND que j'ai créée en seconde générale ou le site de vente de lunettes de soleil Ricci Milano que j'ai lancé en 2020. J'ai également créé un projet innovant de partage de soirées entre particuliers, OneNight, qui a rencontré un franc succès sur Instagram. Enfin, je vais travailler avec implication pour Pyrolave, une entreprise leader dans le domaine du plan de travail, pour mon stage de seconde année de BUT TC.</span>
                </div>
            </div>
        </div>

        <div id="frame-3" class="frame" data-frame-id="3">
            <div class="frame-indicator px-3 py-3">
                <span class="indicator my-auto">03</span>
            </div>

            <div class="d-flex flex-column frame-content w-100">
                <div class="mx-auto my-auto text-center py-5 px-5">
                    <h1 class="skill-title">Perfectionniste et compétiteur</h1>
                    <span class="skill-desc">Pour atteindre mes objectifs, j'ai appris à m'organiser en me fixant des objectifs SMART et en créant des rétro planning pour mes projets scolaires et entrepreneuriaux. J'ai également développé un sens de la discipline et de la persévérance grâce à ma pratique du kickboxing et de l’aviron en compétition.</span>
                </div>
            </div>
        </div>

        <div id="frame-4" class="frame" data-frame-id="4">
            <div class="frame-indicator px-3 py-3">
                <span class="indicator my-auto">04</span>
            </div>

            <div class="d-flex flex-column frame-content w-100">
                <div class="mx-auto my-auto text-center py-5 px-5">
                    <h1 class="skill-title">Rigoureux et organisé</h1>
                    <span class="skill-desc">Au fil de mon parcours, j'ai développé des compétences en rigueur et en organisation, qui sont des qualités essentielles pour réussir dans le monde professionnel. Mes différents projets personnels et professionnels, tels que la mini-entreprise BIPSOUND ou le site de vente de lunettes de soleil Ricci Milano, m'ont permis de travailler avec des deadlines serrées et de gérer efficacement mon temps pour atteindre mes objectifs. De plus, mon stage chez Pyrolave, une entreprise spécialisée dans la fabrication de surfaces en lave émaillée, m'a permis de travailler sur des projets marketing pour l'entreprise et de développer ma rigueur professionnelle. Ces expériences m'ont appris à être minutieux dans mon travail et à respecter les délais impartis, des compétences qui me seront utiles dans ma future carrière professionnelle.</span>
                </div>
            </div>
        </div>

        <div id="frame-5" class="frame" data-frame-id="5">
            <div class="frame-indicator px-3 py-3">
                <span class="indicator my-auto">05</span>
            </div>

            <div class="d-flex flex-column frame-content w-100">
                <div class="mx-auto my-auto text-center py-5 px-5">
                    <h1 class="skill-title">Bon sens du relationnel et de l'expression</h1>
                    <span class="skill-desc">Mon parcours est marqué par de nombreuses expériences de travail en groupe, que ce soit dans le cadre de mes projets personnels ou professionnels. J'ai ainsi participé à la création d'une campagne de communication pour l'épicerie solidaire "Le Petit +" de l'IUT ou d'un plan d'actions commerciales pour Challenge The Room, une entreprise qui nous a sollicités pour un audit et des solutions de développement. J'ai également travaillé pour Pyrolave, où j'ai acquis une grande rigueur professionnelle en menant différents projets marketing pour l'entreprise.</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}