{% extends 'base.html.twig' %}

{% set footer = true %}

{% block content %}
    <div class="text-section my-auto d-flex flex-column mx-3 pb-4">
        <span class="title mb-3 mx-auto text-center">À venir !</span>
        <span class="subtitle mx-auto text-center">Désolé, cette page est en cours de création.</span>
    </div>
{% endblock %}