@font-face {
    font-family: 'Noto Sans Local';
    src: url('../fonts/Noto Sans/NotoSans-Bold.ttf') format('truetype');
}

body {
    background: #24262B;
    font-family: 'Noto Sans Local', sans-serif;
    color: white;
    min-height: 100%;
    margin: 0!important;
    padding: 0!important;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-word;
}

html {
    padding: 0!important;
    margin: 0!important;
    height: 100%!important;
    width: 100%!important;
}

main {
    min-height: calc(100vh - 1.5rem);
}

header {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(255, 255, 255, 0.075);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.075);
}

.navbar {
    z-index: 3;
}

.selected span {
    color: rgba(255, 255, 255, 1)!important;
    border-bottom: white solid 2px;
}

.nav-link {
    font-weight: 550;
    color: rgba(255, 255, 255, 0.80);
}

.nav-link:hover, .nav-link:focus {
    color: rgba(255, 255, 255, 0.90)!important;
    transition: none!important;
}

.text-section span, .text-section p {
    color: white;
    font-weight: 550;
}

.text-section .title {
    line-height: 60px;
    font-size: 56px;
}

.text-section .subtitle {
    font-size: 24px;
}

.text-section .desc {
    font-size: 16px;
    max-width: 560px;
}

#svg {
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: -1;
}

#first-button-bar, #second-button-bar {
    display: none;
    overflow: hidden;
    width: auto;
    height: 48px;
}

#first-button-bar {
    margin-bottom: 40px;
}

.contact-button {
    white-space: nowrap;
    background: linear-gradient(90deg, rgba(252,4,65,1) 0%, rgba(249,25,117,1) 50%, rgba(246,45,168,1) 100%);
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 550;
    color: white;
    width: 144px;
    height: 48px;
    cursor: pointer;
}

.contact-button:hover {
    background: linear-gradient(90deg, rgba(255,24,85,1) 0%, rgba(255,45,137,1) 50%, rgba(255,65,188,1) 100%);
}

#first-button-bar a, #second-button-bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    background: linear-gradient(90deg, rgba(252,4,65,1) 0%, rgba(249,25,117,1) 50%, rgba(246,45,168,1) 100%);
    border: none;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 550;
    color: white;
    line-height: 18px;
    width: 208px;
    height: 48px;
    text-decoration: none;
    left: -208px;
}

.home-content {
    margin-top: auto!important;
    margin-bottom: 50px;
}

#first-button-bar a:hover, #first-button-bar a:focus, #second-button-bar a:hover, #second-button-bar a:focus {
    background: linear-gradient(90deg, rgba(255,24,85,1) 0%, rgba(255,45,137,1) 50%, rgba(255,65,188,1) 100%);
}

.footer .footer-navigation-section {
    background: linear-gradient(90deg, rgba(252,4,65,1) 0%, rgba(249,25,117,1) 50%, rgba(246,45,168,1) 100%);
}

.footer .footer-navigation-section a {
    text-decoration: none;
    cursor: pointer;
}

.footer .footer-navigation-section .indication {
    font-size: 16px;
    font-weight: 550;
    color: white;
    line-height: 30px;
}

.footer .footer-navigation-section .indication-title {
    font-size: 24px;
    font-weight: 550;
    color: white;
}

.footer .footer-information-section {
    background-color: #171B29;
}

.footer .footer-information-section .button {
    text-decoration: none;
}

.padding-top-navbar {
    padding-top: 120px;
}

.text-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.neon-magenta {
    font-size: 35px;
    font-weight: 900;
    color: rgb(255, 165, 220);
    text-shadow: 0 0 10px rgb(255, 60, 180),
    0 0 20px rgb(255, 60, 180),
    0 0 30px rgb(255, 60, 180),
    0 0 40px rgb(255, 60, 180),
    0 0 70px rgb(255, 60, 180),
    0 0 80px rgb(255, 60, 180),
    0 0 100px rgb(255, 60, 180),
    0 0 150px rgb(255, 60, 180);
}

.neon-wheat {
    font-size: 35px;
    font-weight: 900;
    color: rgb(222, 209, 176);
    text-shadow: 0 0 10px rgb(232, 199, 146),
    0 0 20px rgb(232, 199, 146),
    0 0 30px rgb(232, 199, 146),
    0 0 40px rgb(232, 199, 146),
    0 0 70px rgb(232, 199, 146),
    0 0 80px rgb(232, 199, 146),
    0 0 100px rgb(232, 199, 146),
    0 0 150px rgb(232, 199, 146);
}

.neon-orange {
    font-size: 35px;
    font-weight: 900;
    color: rgb(255, 148, 41);
    text-shadow: 0 0 10px rgb(232, 115, 0),
    0 0 20px rgb(232, 115, 0),
    0 0 30px rgb(232, 115, 0),
    0 0 40px rgb(232, 115, 0),
    0 0 70px rgb(232, 115, 0),
    0 0 80px rgb(232, 115, 0),
    0 0 100px rgb(232, 115, 0),
    0 0 150px rgb(232, 115, 0);
}

.neon-aqua {
    font-size: 35px;
    font-weight: 900;
    color: rgb(166, 252, 255);
    text-shadow: 0 0 10px rgb(66, 228, 232),
                 0 0 20px rgb(66, 228, 232),
                 0 0 30px rgb(66, 228, 232),
                 0 0 40px rgb(66, 228, 232),
                 0 0 70px rgb(66, 228, 232),
                 0 0 80px rgb(66, 228, 232),
                 0 0 100px rgb(66, 228, 232),
                 0 0 150px rgb(66, 228, 232);
}

.neon-yellow {
     font-size: 35px;
     font-weight: 900;
     color: rgb(255, 197, 110);
     text-shadow: 0 0 10px rgb(231, 159, 54),
     0 0 20px rgb(231, 159, 54),
     0 0 30px rgb(231, 159, 54),
     0 0 40px rgb(231, 159, 54),
     0 0 70px rgb(231, 159, 54),
     0 0 80px rgb(231, 159, 54),
     0 0 100px rgb(231, 159, 54),
     0 0 150px rgb(231, 159, 54);
 }

.neon-blue {
      font-size: 35px;
      font-weight: 900;
      color: rgb(142, 162, 255);
      text-shadow: 0 0 10px rgb(84, 105, 222),
      0 0 20px rgb(84, 105, 222),
      0 0 30px rgb(84, 105, 222),
      0 0 40px rgb(84, 105, 222),
      0 0 70px rgb(84, 105, 222),
      0 0 80px rgb(84, 105, 222),
      0 0 100px rgb(84, 105, 222),
      0 0 150px rgb(84, 105, 222);
}

.neon-red {
    font-size: 35px;
    font-weight: 900;
    color: rgb(208, 58, 32);
    text-shadow: 0 0 10px rgb(161, 20, 0),
    0 0 20px rgb(161, 20, 0),
    0 0 30px rgb(161, 20, 0),
    0 0 40px rgb(161, 20, 0),
    0 0 70px rgb(161, 20, 0),
    0 0 80px rgb(161, 20, 0),
    0 0 100px rgb(161, 20, 0),
    0 0 150px rgb(161, 20, 0);
}

.neon-electric-red {
    font-size: 28px;
    font-weight: 900;
    color: rgb(251, 13, 88);
    text-shadow: 0 0 10px rgb(128, 0, 38),
    0 0 20px rgb(128, 0, 38),
    0 0 30px rgb(128, 0, 38),
    0 0 40px rgb(128, 0, 38),
    0 0 70px rgb(128, 0, 38),
    0 0 80px rgb(128, 0, 38),
    0 0 100px rgb(128, 0, 38),
    0 0 150px rgb(128, 0, 38);
}

.info-case {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.info-case-reverse {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.info-case-reverse .info-date {
    color: rgba(200, 200, 200, 1);
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
}

.info-case-reverse .info-name {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 32px;
}

.info-case-reverse .info-details {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
}

.info-case-center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.info-case-full {
    max-width: 1200px;
}

.info-case-full .info-details {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.info-case-full .info-date {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.info-case-full .info-name {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.info-case-line .info-details {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.info-case-line .info-date {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.info-case-line .info-name {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.info-case .info-date {
    color: rgba(200, 200, 200, 1);
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
}

.info-case .info-name {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 32px;
}

.info-case .info-details {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
}

.missions .carrousel {
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 10px);
}

.diapo .carrousel {
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
}

.formation .carrousel {
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 10px);
}

.carrousel .carrousel-element {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 800px;
    margin-left: 30px;
    width: max(calc(100vw - 100px), 400px);
}

.carrousel .carrousel-element:first-of-type {
    margin-left: 0;
}

#frame-container .missions {
    display: flex;
    flex-direction: column;
}

#frame-container .missions .neon-magenta {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#frame-container .frame {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

#frame-container .frame-indicator {
    display: none;
    height: 100vh;
}

#frame-container .frame-indicator .indicator {
    font-size: 40px;
    word-break: keep-all;
    font-weight: 800;
    color: white;
}

.interests #frame-1 {
    background-image: url("../images/interests/aviron/background.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.interests #frame-2 {
    background-image: url("../images/interests/parkour/background.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.interests #frame-3 {
    background-image: url("../images/interests/kickboxing/background.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.experiences #frame-1 {
    background-image: url("../images/experiences/frame-1-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.experiences #frame-3 {
    background-image: url("../images/experiences/frame-3-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.formation #frame-1 {
    background-image: url("../images/formation/frame-1-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.formation #frame-2 {
    background-image: url("../images/formation/frame-2-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.formation #frame-3 {
    background-image: url("../images/formation/frame-3-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.formation #frame-4 {
    background-image: url("../images/formation/frame-4-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.formation #frame-5 {
    background-image: url("../images/formation/frame-5-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.formation #frame-6 {
    background-image: url("../images/formation/frame-6-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.formation #frame-7 {
    background-image: url("../images/formation/frame-7-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.formation #frame-8 {
    background-image: url("../images/formation/frame-8-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.formation #frame-9 {
    background-image: url("../images/formation/frame-9-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.formation #frame-10 {
    background-image: url("../images/formation/frame-10-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.formation #frame-11 {
    background-image: url("../images/formation/frame-11-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.formation #frame-12 {
    background-image: url("../images/formation/frame-12-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.moodboard #moodboard-first img, .moodboard #moodboard-second img {
    width: 100%;
    max-height: 90vh;
}

.scroll-button {
    white-space: nowrap;
    background: linear-gradient(90deg, rgba(252,4,65,1) 0%, rgba(249,25,117,1) 50%, rgba(246,45,168,1) 100%);
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 550;
    color: white;
    cursor: pointer;
    padding: 10px 35px 10px 35px;

    display: none;
}

.scroll-button:hover {
    background: linear-gradient(90deg, rgba(255,24,85,1) 0%, rgba(255,45,137,1) 50%, rgba(255,65,188,1) 100%);
}

.projects .button-icon {
    width: 32px;
    height: 32px;
    margin-right: 7px;
}

.projects .button-icon-padding {
    padding-left: 32px;
}

.onerun-button {
    white-space: nowrap;
    background: linear-gradient(90deg, rgba(252,161,4,1) 0%, rgba(246,93,45,1) 100%);
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 800;
    color: white;
    cursor: pointer;
    width: 235px;
    height: 35px;
}

.onerun-button:hover {
    background: linear-gradient(90deg, rgba(255,181,24,1) 0%, rgba(255,113,65,1) 100%);
}

.onenight-button {
    white-space: nowrap;
    background: linear-gradient(90deg, rgba(252,4,161,1) 0%, rgba(246,93,45,1) 100%);
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 800;
    color: white;
    cursor: pointer;
    width: 235px;
    height: 35px;
}

.onenight-button:hover {
    background: linear-gradient(90deg, rgba(255,24,181,1) 0%, rgba(255,113,65,1) 100%);
}

.experiences .post-leclerc {
    width: 100%;
}

.experiences .tasks p {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}

.skills .skill-title {
    color: #FFFFFF;
    font-weight: 750;
    font-size: 32px;
    text-align: center;
}

.skills .skill-desc {
    color: #FFFFFF;
    font-weight: 350;
    font-size: 13px;
    text-align: center;
}

.experiences .frame-content .inside {
    min-height: 100vh;
    background-image: url("../images/experiences/inside/inside-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.experiences .frame-content .actions {
    background-image: url("../images/experiences/inside/actions-bg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.experiences .frame-content .diapo {
    min-height: 100vh;
    background-image: url("../images/experiences/inside/diapo-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.skills #frame-1 {
    background-image: url("../images/skills/backgrounds/frame-1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.skills #frame-2 {
    background-image: url("../images/skills/backgrounds/frame-2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.skills #frame-3 {
    background-image: url("../images/skills/backgrounds/frame-3.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.skills #frame-4 {
    background-image: url("../images/skills/backgrounds/frame-4.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.skills #frame-5 {
    background-image: url("../images/skills/backgrounds/frame-5.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.projects #frame-1 .one-run-top {
    background-image: url("../images/projects/onerun/background-1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.projects #frame-1 .one-run-bottom {
    background-image: url("../images/projects/onerun/background-2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.projects #frame-2 {
    background-image: url("../images/projects/onenight/background.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.projects #frame-3 .ricci-milano-top {
    background-image: url("../images/projects/ricci-milano/background-1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.projects #frame-3 .ricci-milano-bottom {
    background-image: url("../images/projects/ricci-milano/background-2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.short-container .short {
    width: 100%;
    max-height: 90vh;
    aspect-ratio: 625/1111;
}

.shorts-container {
    background-color: rgba(255, 255, 255, 0.1);
}

.bande {
    padding-top: 350px;
    padding-bottom: 100px;
    max-width: 650px;
    background-color: rgba(255, 255, 255, 0.06);
    height: 100%;
    min-height: 80vh;
}

.bande .bande-hint {
    font-size: 16px;
    font-weight: 750;
}

.bande .bande-text {
    font-size: 18px;
    font-weight: 550;
}

.little-justify {
    text-align: justify;
}

.interests .travel-image {
    max-width: calc(100vw - 130px);
}

@media screen and (min-width: 992px) {
    .min-lg-h-100 {
        min-height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .projects .button-icon {
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }

    .projects .button-icon-padding {
        padding-left: 58px;
    }

    .w-md-auto {
        width: auto!important;
    }

    .little-justify {
        text-align: left;
    }

    .neon-magenta {
        font-size: 48px;
    }

    .neon-wheat {
        font-size: 48px;
    }

    .neon-orange {
        font-size: 48px;
    }

    .neon-aqua {
        font-size: 48px;
    }

    .neon-yellow {
        font-size: 48px;
    }

    .neon-blue {
        font-size: 48px;
    }

    .neon-red {
        font-size: 48px;
    }

    .neon-electric-red {
        font-size: 48px;
    }

    .skills .skill-title {
        color: #FFFFFF;
        font-weight: 750;
        font-size: 40px;
        text-align: center;
    }

    .skills .skill-desc {
        color: #FFFFFF;
        font-weight: 350;
        font-size: 18px;
        text-align: center;
    }

    .md-border-right {
        border-right: 1px white solid;
    }

    .info-case-reverse .info-details {
        text-align: left;
        margin-right: inherit;
        margin-left: inherit;
    }

    .info-case-reverse .info-date {
        text-align: right;
        margin-right: inherit;
        margin-left: auto;
    }

    .info-case-reverse .info-name {
        text-align: left;
        margin-right: inherit;
        margin-left: auto;
    }

    .info-case-full .info-details {
        text-align: left;
        margin-right: inherit;
        margin-left: inherit;
    }

    .info-case-full .info-date {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .info-case-full .info-name {
        text-align: right;
        margin-right: inherit;
        margin-left: auto;
    }

    .info-case-line {
        display: flex;
        flex-direction: row;
    }

    .info-case-line .info-date {
        margin-left: auto;
        margin-right: inherit;
        margin-top: 1rem;
        margin-bottom: inherit;
    }

    .info-case-line .info-name {
        margin-right: auto;
        margin-left: inherit;
        margin-top: auto;
        margin-bottom: 1rem;
    }

    .info-case-line .info-details {
        margin: inherit;
    }
}

@media screen and (min-width: 1320px) {
    #svg {
        z-index: 2;
    }

    #first-button-bar, #second-button-bar {
        display: block;
        position: relative;
    }
}

@media screen and (min-width: 580px) {
    .home-content {
        margin-top: auto!important;
        margin-bottom: 150px;
    }

    .info-case .info-date {
        font-size: 56px;
        line-height: 42px;
    }

    .info-case .info-name {
        font-size: 40px;
        line-height: 40px;
    }

    .info-case .info-details {
        font-size: 24px;
    }

    .info-case-center .info-name {
        margin-left: 65px;
        text-align: right;
    }

    .interests .right-side-image {
        max-width: calc(100vw - 100px);
    }

    .interests .travel-image {
        max-width: min(calc(100vw - 130px), 600px);
    }

    #frame-container .frame-indicator {
        display: flex;
        flex-direction: column;
    }

    #frame-container .missions {
        display: flex;
        flex-direction: row;
    }

    #frame-container .missions .neon-magenta {
        margin: auto 1.5rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .carrousel .carrousel-element {
        width: max(calc(100vw - 400px), 400px);
    }

    .missions .carrousel {
        max-width: calc(100vw - 250px);
    }


    .formation .carrousel {
        max-width: calc(100vw - 150px);
    }
}

@media screen and (min-width: 1000px) {
    .home-content {
        margin-top: auto!important;
        margin-bottom: auto!important;
    }
}

/* media used for navbar, based on bootstrap navbar ('.navbar-expand-md') */
@media screen and (min-width: 1260px) {
    .navbar-expand-custom {
        flex-wrap:nowrap;
        justify-content:flex-start
    }

    .navbar-expand-custom .navbar-nav {
        flex-direction:row
    }

    .navbar-expand-custom .navbar-nav .dropdown-menu {
        position:absolute
    }

    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right:var(--bs-navbar-nav-link-padding-x);
        padding-left:var(--bs-navbar-nav-link-padding-x)
    }

    .navbar-expand-custom .navbar-collapse {
        display:flex!important;
        flex-basis:auto
    }

    .navbar-expand-custom .navbar-toggler {
        display:none
    }

    .flex-custom-row {
        flex-direction: row!important;
    }

    .col-custom-auto {
        flex:0 0 auto;
        width:auto
    }

    .mb-custom-0 {
        margin-bottom: 0!important;
    }

    .ms-custom-auto {
        margin-left: auto!important;
    }

    .padding-top-navbar {
        padding-top: 100px;
    }

    header {
        background-color: rgba(0, 0, 0, 0);
    }
}